[Unit]
Description=My Web App (Simple Inventory)
After=network.target

[Service]
Type=simple
User=app
WorkingDirectory=/opt/mywebapp
ExecStartPre=/usr/bin/node /opt/mywebapp/migrate.js --dbhost={{ hostvars[groups['db'][0]]['ansible_default_ipv4']['address'] }} --dbuser=app_user --dbpass=app_password --dbname=inventory
ExecStart=/usr/bin/node /opt/mywebapp/mywebapp.js --port=8000 --dbhost={{ hostvars[groups['db'][0]]['ansible_default_ipv4']['address'] }} --dbuser=app_user --dbpass=app_password --dbname=inventory
Restart=on-failure

[Install]
WantedBy=multi-user.target